.App {
  text-align: center;
  visibility: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  position: relative; 
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-text {
  opacity: 0;
}