.App {
  text-align: center;
  visibility: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  position: relative; 
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-text {
  opacity: 0;
}

.intro-pic{
  height: 100%;
  width: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 1;
  object-fit: cover;
  visibility: hidden;
}